.container{
    border: 1px solid brown;
    display: flex;
}
.container .item1 {
    padding: 2px;
    margin: 3px;
    border: 2px solid rebeccapurple;
    order: 1;
}

.container .item2 {
    padding: 2px;
    margin: 3px;
    border: 2px solid rgb(255, 0, 0);
    order: 2;
}

.container .item3 {
    padding: 2px;
    margin: 3px;
    border: 2px solid rgb(255, 238, 0);
    order: -3;
}

.container .item4 {
    padding: 2px;
    margin: 3px;
    border: 2px solid rgb(0, 183, 255);
    order: 5;
}

.container .item5 {
    padding: 2px;
    margin: 3px;
    border: 2px solid rgb(72, 255, 0);
    order: 6;
}