.box {
    top: 0px;
    width: 30px; height: 30px;
    border-radius: 40%;
    animation-name: simpleBox;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    background: yellowgreen;
    animation-delay: 0s;
}
.box2 {
    background: darkcyan;
    animation-delay: 1s;
}
.box3 {
    background: violet;
    animation-delay: -1s;
}
@keyframes simpleBox{
    0% {
        margin-left: 0%;
    }
    25% {
        margin-left: 5%;
    }
    50% {
        margin-left: 0%;
    }
    75% {
        margin-left: 10%;
    }
}