.box {
    width: 10px; height: 10px; background: black;
    border-radius: 100%;
    animation: simpleBox 2s infinite linear;
}

@keyframes simpleBox{
    0% {
        margin-top: 0%;
        margin-left: 0%;
    }
    25% {
        margin-top: 10%;
        margin-left: 0%;
    }
    50% {
        margin-top: 5%;
        margin-left: 10%;
    }
}